#cart-component {
    display: flex;
    flex-flow: row;
    padding: 72px 100px;

    align-items: flex-start;
    align-content: flex-start;
}

.cart-product-table {
    margin-right: 32px;
    table-layout: fixed;
    border-collapse: collapse;
    flex-grow: 1;
}

.cart-product-table td {
    height: fit-content;
    padding: 0;
    align-self: flex-start;
}

.cart-product-table .header {
    background-color: #F9F1E7;
    padding: 15px 0px;
}

.cart-product-table .header:not(:first-child) {
    text-align: start;
}

.cart-product-table .product-image-name {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-flow: row wrap;
}

.product-image-name .product-image {
    width: 105px;
    height: 105px;
    border-radius: 10px;
    background: #D9D9D9;
    object-fit: contain;
    margin: 25px 0px;
    margin-right: 25px;
}

.product-image-name .product-image:not(:first-child) {
    margin-top: 55px;
    margin-bottom: 25px;
}

#cart-component .product-text {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cart-component .product-quantity {
    margin: 4px 13px;

    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cart-component .product-quantity-border {
    border-radius: 5px;
    border: 1px solid #9F9F9F;
    width: fit-content;
}

#cart-component .product-subtotal {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cart-component .cart-totals {
    display: flex;
    flex-flow: wrap column;

    padding: 15px 75px;
    justify-content: flex-start;
    padding-bottom: 80px;

    background: #F9F1E7;
}

.cart-totals .cart-totals-detail {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.cart-totals .cart-text {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cart-totals .cart-totals-title {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 60px;

    align-self: center;
}

.cart-totals .total-text {
    color: var(--primary, #B88E2F);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cart-totals .subtotal-text {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart-totals .cart-checkout {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 15px;
    border: 1px solid #000;

    padding: 14px 59px;

    text-decoration: none;
}
.cart-totals .cart-checkout:hover {
    background:#fff;
}
