.product-header {
    color: var(--color-gray-1, #3A3A3A);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.product-item {
    align-content: center;
    display: inline-block;
    margin: 16px 10px;
    background-color: #F4F5F7;
    position: relative;
}

/* .product-item:hover {
    background-color: #898989;
} */

.product-list {
    text-align: center;
}

#product-showMore-comp {
    display: flex;
    justify-content: center;
}

.product-showMore {
    text-decoration: none;
    /* display: flex; */
    text-align: center;
    border: 1px solid var(--primary, #B88E2F);
    background: #FFF;
    padding: 12px 84px;
    margin-bottom: 69px;
}

.showMore-text {
    color: var(--primary, #B88E2F);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}