#shop-filter {
    padding: 22px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    background: #F9F1E7;
}

#shop-filter .filter-detail {
    border-left: 1px solid #9F9F9F;
    padding-left: 34px;
}

#shop-filter .field-title {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 17px;
}

#shop-filter .field-border {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: #FFF;
}

#shop-filter .dropdown:hover .dropdown-content {
    display: block;
}

/* #shop-filter .dropdown:hover { */
    /* background: #f1f1f1; */
/* } */

#shop-filter .filter-right {
    display: inline-flex;
    align-items: center;
}

#shop-filter .filter-left {
    display: inline-flex;
    align-items: center;
}

.filter-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.filter-right .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filter-right .dropdown-item:hover {
    background-color: #f1f1f1
}