footer {
    border-top: 1px solid #9F9F9F;
    /* padding: 48px, 100px; */
    /* margin: 48px, 100px; */
}

.footer {
    position: relative;
    padding: 48px 100px;
    /* margin: 48px 100px; */
}

.article {
    border-top: 1px solid #9F9F9F;
    padding-top: 35px;
    margin-top: 48px;
    flex-shrink: 0;
}

.contact {
    position: static;
    display: flex;
    justify-content: center;
}

.footer-detail {
    flex: 2;
}

.field{
    flex: 1;
}

.email-field{
    
}

.address {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.option-container {
    margin-top: 55px;
}

.email-container {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}

.option {
    color: #000;
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 46px;
}

.email {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #000;
}

.subcribe {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
}