#header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#header-right {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-right .item {
    display: inline-block;
    padding-right: 75px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* position: absolute; */
    text-decoration: none;
}

#header-icon {
    margin-right: 5%;
    max-width: 443px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-icon .icon {
    /* width: 28px; */
    /* padding-right: 75px; */
    padding-left: 45px;
    height: 28px;
}


#logo {
    margin: 30px 0px 30px 54px;
    /* display: inline-block; */
}

#logo .name {
    display: inline-block;
    color: #000;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#logo .image {
    display: inline-block;
    width: 50px;
    height: 32px;
}

