#product-ref {
    padding: 38px 0px 38px 100px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    background: #F9F1E7;
}

#product-ref .product-ref-text {
    margin-right: 25px;
    display: flex;
}

#product-ref .product-ref-name {
    padding-left: 34px;
    border-left: 2px solod #9F9F9F;

    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#product-ref .text {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 14px;
}

#product-info {
    display: flex;
    flex-flow: wrap column;
    padding-bottom: 66px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 48px;
    border-top: 1px solid #D9D9D9;
}

#product-info .product-info-header {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    color: #9F9F9F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-bottom: 37px;
}

#product-info .product-info-header-button:not(:last-child) {
    margin-right: 52px;
}

#product-info .product-info-params {
    color: #9F9F9F;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 207px;
    margin-bottom: 30px;
}

#product-info .product-info-images {
    border-radius: 10px;
    align-items: center;
    align-content: space-around;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

#product-info .image {
    flex: 1;
    border-radius: 10px;
    background-color: #F9F1E7;
    height: 348px;
    object-fit: contain;
}

#product-info .image:not(:last-child) {
    margin-right: 30px;
}

#product-related {
    padding-top: 55px;
    border-top: 1px solid #D9D9D9;
}

#product-related .product-related-header {
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}