#product-page-navigation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#product-page-navigation .page-item {
    border-radius: 10px;
    background: var(--primary, #B88E2F);
    padding: 15px 28px;

    border-radius: 10px;
    background: #F9F1E7;
}