<!DOCTYPE html>
<html lang="en">

<head>
    <style>
       
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div className="product-detail">
        <div className="product-name">{name}</div>
        <span className="product-description">{description}</span>
        <div className="product-price">{currency} {price} {(basePrice !== price) && <span
                className="product-base-price">{currency} {basePrice}</span>}</div>
    </div>
</body>

</html>